<div class="about">
  <p id="about">At Never Eat Chicken Alone, we believe that no individual should ever have to dine alone again... </p>
  <p id="about-left"> Our restaurants list is always growing, to get added our expanding list please email <b>listings@neca.com</b> </p>
  <p id="about-right"> We value creative individuals to spread our vision, if you would like to join us please send your email to <b>team@neca.com</b> </p>
</div>
