@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');
.brand{
  font-family: 'Poiret One', cursive;
  font-size: 80px;
}

.row {
   margin-left: 0px;
   margin-right: 0px;
}

#bingo {
  margin-left: 10px;
  color: white;
  font-size: 25px;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
}

form{position:relative; direction:ltr;}
.tasksInput{margin-right:150px;}
.submit-and-options{position:absolute; right:2%; top:0;}

#scroll-bottom{
  background-color: white;
}

/* RESPONSIVE APPLICATION */
/* BIG SCREEN */

@media only screen and (min-width: 1026px) {
    .drop-hover-dislike {

        background-position: bottom;
        background-repeat: no-repeat;
    }


    .drop-hover-like {
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .matching_box{
      position:relative;
      left: 22em;
    }


}

/* SMALL SCREEN */
@media only screen and (max-width: 1026px) {
    .drop-hover-dislike {
        display: none;
    }
    .drop-hover-dislike {
        display: none;
    }

    .matching_box{
      position:relative;
      left: 11em;
    }

}



#droppable {
  /*border: 1px solid red;*/
    position: fixed;
    top: 4em;
    left: 0em;
    width: 40%;
    height: 38em;
}

#droppable2 {
    /*border: 1px solid green;*/
    position: fixed;
    top: 4em;
    right: 0em;
    width: 40%;
    height: 38em;
}

/**/

#yes, #no{
  height:70px;
  width: 70px;
  font-size: 30px;
}


#say-yes {
    position: fixed;
    top: 5em;
    right: 0.5em;
    font-size: 38px;
    font-weight: bold;
    color: green;
    /*border: 1px solid green;*/
}

#say-no {
    position: fixed;
    top: 5em;
    left: 0.5em;
    font-size: 38px;
    font-weight: bold;
    color: red;
    /*border: 1px solid red;*/
}

/* GENERAL - FONTS, BACKGROUND */

body {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  background-color: #E9EBEE;
}

/* NAV BAR STYLING */

.navbar-default {
  background-color: #ffffff;
  margin-bottom: 0px;
  border-color: #ffffff;
}

.navbar {
  border-radius: 0px;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #ffffff; ;
  color: grey;
}

#navbar-brand {
    width: 250px;
}

/* ICONS */
.fa {
  /*color: rgb(74, 141, 42);*/
}


/* BUTTONS */

.btn, .btn_signup {
  /*border-radius: 0px;*/
  /*background-color: #ffffff; ;*/
}

.btn-primary {
  /*background-color: #ffffff; ;*/
  /*text-decoration: underline;*/
  border: none;
  /*color: black;*/
  font-weight: bold;
  font-size: 16px;
}

.btn-primary:hover {
  /*background-color: #ffffff; ;*/
  /*border-color: #ffffff;*/
  /*color: grey;*/
}

.btn-success {
  /*color: black !important;*/
}


.btn-lg {

}

td{
  border-top: 0px solid #000000 !important;
}

.btn-danger {
    color: #ffffff; ;
    /*background-color: ;
    border-color: inherit;*/
}

#btn_signup, #btn_login {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*border: none;
    font-size: 28px;*/
}

#div-button {
    margin-bottom: 5px;
}

/* SIGN UP PAGE */

.img-background {
    height: 45em;
    width: 100%;
    background-color: white;
    background-image: url(/assets/food-summer-party-dinner.jpg);
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position:fixed;
}

.login-modal{
  padding-top: 15%;
}

.sign-up-sentence{
  font-size: 25px;
}

.form_signup{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.select-gender{
  margin:0 !important;
}

.gender-icon{
  font-size: 30px;
}

.male{
  color:#147AC4;
}

.female{
  color:#F92766;
}

/* USER PAGE */

.user_block {
  /*display: inline-block;*/
  margin-bottom: 10px;
}

#user_img {
    height: 170px;
    border-radius: 0px;
}

.update_profile{
  padding-top: 7px;
}

.form-group > select, .form-group > label {
  margin: 10px;
}

td>select{
  width:50%;
}


/* ABOUT PAGE */

.about {
    height: 37em;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position:fixed;
    background-image: url(https://images.pexels.com/photos/247942/pexels-photo-247942.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

#about {
    height: 1.5em;
    background-color: rgba(121, 121, 121, 0.6);
    font-size: 30px;
    color: rgb(242, 242, 242);
    position: relative;
    top: 2.5em;
}

#about-left {
    width: 8em;
    border-radius: 0.5em;
    background-color: rgba(19, 163, 244, 0.3);
    font-size: 17px;
    color: rgb(242, 242, 242);
    position: fixed;
    top: 20em;
    left: 2em;
}

#about-right {
    width: 8em;
    border-radius: 0.5em;
    background-color: rgba(19, 163, 244, 0.3);
    font-size: 17px;
    color: rgb(242, 242, 242);
    position: fixed;
    top: 20em;
    right: 2em;
}


#restaurant-tile {
  height: 160px;
  margin-bottom: 2px
}

a {
    color: rgb(74, 141, 42);
    width: 60px;
}

#login_form {
    padding-top: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}

#match_name {
    font-size: 30px;
    font-family: 'Righteous', serif;
}

 ::-webkit-input-placeholder {
    /*text-align: center;*/
    /*background: transparent;*/
    /*border: none;*/
    /*color: white;*/
}

input[type="text"] {
    /*background: rgba(0, 0, 0, 0.2);*/
    margin: 5px;
    /*font-size: 28px;*/
    /*border: none;*/
    /*color: white;*/
    /*text-align: center;*/
}

input[type="password"] {
    /*background: rgba(0, 0, 0, 0.2);*/
    margin: 5px;
    /*font-size: 28px;*/
    /*border: none;*/
    /*color: white;*/
    /*text-align: center;*/
}


.container {
    margin-top: 50px;
}

#main_container {
    align-items: center;
    text-align: center;
}

.suggestion{
  background-color: white;
  margin-top: 50px;
}


/* for fullscreen video on index page */

* {
    box-sizing: border-box;
}


#vidtop-content {
    top: 0;
    color: #fff;
}

.pull-right {
    text-align: right !important;
    float: right !important;
    margin-right: 20px;
}
